{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}RequestWindow{% endblock %}</h1>
  {% if g.user %}
    <a class="action" href="{{ url_for('applet.index') }}">New</a>
  {% endif %}
{% endblock %}

{% block content %}
  <!-- {% for post in posts %}
    <article class="post">
      <header>
        <div>
          <h1>{{ post['title'] }}</h1>
          <div class="about">by {{ post['username'] }} on {{ post['created'].strftime('%Y-%m-%d') }}</div>
        </div>
        {% if g.user['id'] == post['author_id'] %}
          <a class="action" href="{{ url_for('applet.index') }}">Edit</a>
        {% endif %}
      </header>
      <p class="body">{{ post['body'] }}</p>
    </article>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %} -->
  <h1>Requests</h1>
  <form method="post">
    <label for="input">Enter a number:</label>
    <input type="number" name="input" id="input" value="{{ request.form['input'] }}" required>
    <input type="submit" value="Send">
  </form>
  {% if output is not none %}
  <p class="body">The result returned is : {{ output }}</p>
  {% endif %}
{% endblock %}